page-add-client {
  .thePhoto{
    border: 1px solid #999;
    background-color: #fcfcfc;
    padding: 4px;
  }

  .error-box {
    color: #D63301;
    background-color: #FFCCBA;
    margin-left: 2em;
  }
}
