<!--
  Generated template for the ProductSettings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngFor="let key of keys;">
      <ion-item-divider color="light">{{key}}</ion-item-divider>
      <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event, key)">
          <button ion-item *ngFor="let p of products[key]" (click)="productModify(p)">
            <ion-thumbnail item-left>
              <img [src]="'assets/images/products/' + p.id + '.png'" *ngIf="p.photo==''">
              <img [src]="p.photoV" *ngIf="p.photo!=''">
            </ion-thumbnail>
            <div>{{p.name}}</div>
            <p>{{p.description}}</p>
          </button>
      </ion-item-group>
  </ion-list>
</ion-content>
