page-disr-item {
  .ggg {
    text-decoration: underline;
    font-size: 1.3em;
    color: green;
  }

  .gg{
    text-decoration: underline;
    color: green;
  }

  .rrr {
    text-decoration: underline;
    font-size: 1.3em;
    color: red;
  }

  .rr{
    text-decoration: underline;
    color: red;
  }
}
